<template name="notFound">
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <div class="panel panel-dark panel-flat">
                <img src="/img/notFound.jpg" alt="Image" class="block-center img-rounded" width="100%">

                <div class="text-center mb-xl">
                    <div class="text-lg mb-lg">404</div>
                    <p class="lead m0">{{_ 'notFound.We couldn t find this page'}}</p>
                    <p>{{_ 'notFound.The page you are looking for does not exists'}}</p>
                </div>

                <ul class="list-inline text-center text-sm mb-xl">
                    <li><a href="/" class="text-muted">Home</a></li>
                    <li class="text-muted">|</li>
                    <li><a href="/login" class="text-muted">Login</a></li>
                    <li class="text-muted">|</li>
                    <li><a href="/register" class="text-muted">Register</a></li>
                </ul>
                <div class="p-lg text-center">
                    <span>&copy;</span>
                    <span>2017</span>
                    <span>-</span>
                    <span>Social BoardGame</span>
                </div>
            </div>
        </div>
    </div>
</template>