<template name="loginLayout">
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <!-- START panel-->
            <div class="panel panel-dark panel-flat">
                <div class="panel-heading text-center">
                    <a href="#">
                        <img src="/img/logoSocialGames.png" alt="Image" class="block-center img-rounded" width="35%">
                    </a>
                </div>
                <div class="panel-body">
                    {{> yield }}
                </div>
            </div>

            <div class="p-sm text-center">
                <span>©</span>
                <span>2017</span>
                <span>-</span>
                <span>ArmTrade</span>
            </div>
        </div>
    </div>
</template>